{% extends 'base.html' %}
{% block side %}
        <div class="sidebar" data-background-color="" data-active-color="danger">
        <div class="logo">
            <a href="/index" class="simple-text">
                管 理 平 台
            </a>
        </div>
        <div class="logo logo-mini"><a href="#" class="simple-text">C</a></div>
        <div class="sidebar-wrapper">
            <ul class="nav first-nav">
                <li>
                    <a href="/index">
                        <i class="ti-panel"></i>
                        <p>我的首页</p>
                    </a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#charts" class="collapsed" aria-expanded="true">
                        <i class="ti-bar-chart-alt"></i>
                        <p>管理员管理
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse in" id="charts" role="navigation" aria-expanded="true">
                        <ul class="nav">
                            <li ><a href="/updatepwd/1">修改管理员</a></li>
                            <li><a href="/adumanage/1">增加管理员</a></li>
                            <li><a href="/loginrecs/1">登录记录</a></li>
                            <li><a href="/adgmanage/1">权限组管理</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#ui-elements" class="collapsed" aria-expanded="false">
                        <i class="ti-package"></i>
                        <p>信息查询
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="ui-elements" role="navigation" aria-expanded="false" style="height: 0px;">
                        <ul class="nav">
                            <li><a href="/search">查询信息</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#forms" class="collapsed" aria-expanded="false">
                        <i class="ti-clipboard"></i>
                        <p>上传数据包
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="forms" role="navigation" aria-expanded="false" style="height: 0px;">
                        <ul class="nav">
                            <li><a href="/uploadData">上传数据</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#tables" class="collapsed" aria-expanded="false">
                        <i class="ti-view-list-alt"></i>
                        <p>信息管理
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="tables" role="navigation" aria-expanded="false" style="height: 0px;">
                        <ul class="nav">
                            <li><a href="/adulog">管理员记录</a></li>
                            <li><a href="/batchdelete">批量删除</a></li>
                            <li><a href="/downloadinfo">下载信息</a></li>
                            <li><a href="/uploadrecord">上传记录</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
{% endblock side %}

{% block body %}
        <div class="content">
            <div class="container-fluid">
                <div id="aduRecord" class="row wrapper wrapper-content">

                    <div class="row warnlip">未查找到相应结果！</div>
                    <div class="row tablelist">
                        <div class="col-lg-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <em class="list_icon"></em>
                                        管理员登录记录
                                    </div>
                                </div>

                                <div class="panel-body">
                                    <form class="form-search" action="/login/search/1" method="get">
                                        <div class="am-col col-lg-4" style="float: right">
                                                <div class="am-input-group">
                                                    <span class="am-input-group-btn" id="search-btn">
                                                        <button class="am-btn am-btn-default" type="submit">搜 索</button>
                                                        <i class="search-icon"></i>
                                                    </span>
                                                    <input type="text" class="am-form-field" name="search">
                                                </div>
                                        </div>
                                    </form>
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>管理员</th>
                                                    <th>操作时间</th>
                                                    <th>操作类型</th>
                                                    <th>IP地址</th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for rec in login_rec %}
                                                <tr>
                                                    <td>{{ rec.id }}</td>
                                                    <td>{{ rec.name }}</td>
                                                    <td>{{ rec.create_time }}</td>
                                                    {% if rec.state %}<td>登陆成功</td>{% else %}<td class="deliveried">登陆失败</td>{% endif %}
                                                    <td>{{ rec.ip }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="span12" id="dPager">
                                        <div class="pager">
                                           {% if login_rec.has_previous %}
<li><a class="prev" href="{% url 'major:loginRec' login_rec.previous_page_number %}">上一页</a></li>
{% endif %}

{% for pindex in pages %}
{% if pindex == login_rec.number %}
<li><span class="current">{{ pindex }}</span></li>
{% else %}
<li><a href="{% url 'major:loginRec' pindex %}">{{ pindex }}</a></li>
{% endif %}

{% endfor %}
{% if login_rec.has_next %}
<li><a class="next" href="{% url 'major:loginRec' login_rec.next_page_number %}">下一页</a></li>
{% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %}
