{% extends 'base.html' %}
{% block side %}
        <div class="sidebar" data-background-color="" data-active-color="danger">
        <div class="logo">
            <a href="/index" class="simple-text">
                管 理 平 台
            </a>
        </div>
        <div class="logo logo-mini"><a href="#" class="simple-text">C</a></div>
        <div class="sidebar-wrapper">
            <ul class="nav first-nav">
                <li>
                    <a href="/index">
                        <i class="ti-panel"></i>
                        <p>我的首页</p>
                    </a>
                </li>
                <li>
                    <a data-toggle="collapse" href="#charts" class="collapsed" aria-expanded="false">
                        <i class="ti-bar-chart-alt"></i>
                        <p>管理员管理
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="charts" role="navigation" aria-expanded="false" style="height: 0px;">
                        <ul class="nav">
                            <li ><a href="/updatepwd/1">修改管理员</a></li>
                            <li><a href="/adumanage/1">增加管理员</a></li>
                            <li><a href="/loginrecs/1">登录记录</a></li>
                            <li><a href="/adgmanage/1">权限组管理</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#ui-elements" class="collapsed" aria-expanded="false">
                        <i class="ti-package"></i>
                        <p>信息查询
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="ui-elements" role="navigation" aria-expanded="false" style="height: 0px;">
                        <ul class="nav">
                            <li><a href="/search">查询信息</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#forms" class="collapsed" aria-expanded="false">
                        <i class="ti-clipboard"></i>
                        <p>上传数据包
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse" id="forms" role="navigation" aria-expanded="false" style="height: 0px;">
                        <ul class="nav">
                            <li><a href="/uploadData">上传数据</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a data-toggle="collapse" href="#tables" class="collapsed" aria-expanded="true">
                        <i class="ti-view-list-alt"></i>
                        <p>信息管理
                            <b class="caret"></b>
                        </p>
                    </a>
                    <div class="collapse in" id="tables" role="navigation" aria-expanded="false" style="height: 0px;">
                        <ul class="nav">
                            <li><a href="/adulog">管理员记录</a></li>
                            <li><a href="/batchdelete">批量删除</a></li>
                            <li class="active"><a href="/downloadinfo">下载信息</a></li>
                            <li><a href="/uploadrecord">上传记录</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>
    </div>
{% endblock side %}
{% block body %}
    <div class="content">
            <div class="container-fluid">
                <div id="downloadInfo" class="row wrapper wrapper-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="panel-title">
                                        <em class="updatepw_icon"></em>
                                        下载信息
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <form action="./downloadinfo" onsubmit="return toVaild()"  method="post">
                                    {% csrf_token %}
                                    <div class="content-box form-ajax form-horizontal">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">
                                               信息开始时间：
                                            </label>
                                            <div class="col-md-9 c-datepicker-date-editor c-datepicker-single-editor J-datepicker-day">
                                                <input type="text" name="startTime" id="startTime" autocomplete="off" class="c-datepicker-data-input only-date">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">
                                                信息结束时间：
                                            </label>
                                            <div class="col-md-9 c-datepicker-date-editor c-datepicker-single-editor J-datepicker-day">
                                                <input type="text" name="endTime" id="endTime" autocomplete="off" class="c-datepicker-data-input only-date">
                                            </div>
                                        </div>
                                        <div class="form-group downstate">
                                            <label class="col-md-2 control-label">
                                               状态：
                                            </label>
                                            <div class="col-md-9">
                                                <input type="checkbox" name="state" id="state" class="">
                                                <label for="state">只下载已派送数据</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-5 col-md-4">
                                                <button type="submit" class="btn subBtnstl" id="btnUpdateLoginPWD">下载该时间段数据</button>
                                            </div>
                                        </div>
                                    </div>
                                    </form>
                                         <script language="javascript">
                                                        function toVaild(){
                                                               var endTime = document.getElementById("endTime").value;
                                                               var startTime = document.getElementById("startTime").value;
                                                                if(endTime ==''|| startTime==''){
                                                                alert('请输入时间 '); 	
								   return false;
                                                                } 
                                                            }
                                                </script>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if index == 'NO' %}
                    <div>未查询到数据</div>
                    {% endif %}
                </div>
            </div>
        </div>
{% endblock body %}
